.ContainerDescription {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto 0px;
    grid-template-areas: "header" "offer_description" "search";
    height: 100%;
}

.SearchWrapper {
    display: none;
    flex-direction: column;
}

.ContainerRoute {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas: "header" "offer_route";
    height: 100%;
}

.ContainerMap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60px auto;
    grid-template-areas: "header" "offer_map" "map";
    height: 100vh;
}

.Search {
    grid-area: search;
}

/*@media only screen and (min-width: 600px) {*/
/*    .ContainerDescription {*/
/*        grid-template-rows: 40px 120px auto;*/
/*    }*/
/*}*/

@media only screen and (min-width: 1270px) {
    .SearchWrapper {
        display: flex
    }
}

@media only screen and (min-width: 1270px) {
    .ContainerDescription {
        display: grid;
        grid-template-columns: 650px minmax(650px, auto);
        grid-template-rows: 40px 350px auto 50px;
        grid-template-areas: "header header" "offer_description route" "offer_description map" "offer_description map";
        height: 100vh;
    }
}
