.TopPanel {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: search;
    /* background-color: #f2f4f5; */
    background-color: white;

}

@media screen and (min-width: 1250px) {
    .TopPanel {
    display:flex;
    background-color: #F2F4F5;
    }
}

/* .TopPanel {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding:10px;
    background-color: white;
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
   
} */

.SearchBox {
  width: 100%;
  max-width: 400px;
  padding: 10px;
}


.ControlsBox {
    padding: 10px;
    }